POSTGRES_DB=hydro_hd_1714
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
DB_EXPOSE_PORT=5435
BACKEND_EXPOSE_PORT=5006
FRONTEND_EXPOSE_PORT=8089
JWT_SECRET=change_me_strong_secret
CORS_ORIGIN=http://localhost:8089,http://127.0.0.1:8089
